<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            font-family: Courier;
            background-color: #000000;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #007bff;

        }

        a {
            color: #007bff;
            text-decoration: none;

        }
        a:hover {
            text-decoration: underline;
            background-color: #e5e5e5;
        }
    </style>
</head>

<body>
    <h1>Register Page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <a href="{{url_for('login')}}">Already have an account? Login </a>

</body>

</html>